.aboutCarolineContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.whatWeOfferContainer {
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 0;
}

.calligraphy {
  height: 100px;
}

.aboutPageLeft {
  display: grid;
  justify-content: center;
  align-items: center;
}

.aboutPageLeft .content {

}

.aboutPageRight {
  display: grid;
  justify-items: center;
}

.aboutPageRight img {
  background-color: #852d35;
  width: 700px;
  height: 900px;
  justify-self: end;
}

.jobCarouselContainer {
  overflow: hidden;
  width: 100%;
  background: #852d35;
  white-space: nowrap;
  grid-column: 1/3;
  margin: 0;
  position: relative;
}

.jobCarousel {
  display: flex;
  background-color: #852d35;
  color: white;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.jobCarousel li {
  flex: 0 0 auto;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

/* .jobCarousel li::before {
  content: "- ";
  margin-right: 5px;
} */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.commercialRoles{
  grid-column: 1/3;
}

.commercialRecruitmentCalligraphy {
  grid-column: 1/3;
  display: grid;
  justify-content: end;
}

.commercialRecruitmentText{
  grid-column: 1/3;
}