.aboutCarolineContainer {
  display: grid;
  grid-template-columns: 5fr 3fr;
  padding: 0;
}

.whatWeOfferContainer {
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin-top: 60px;
}

.whatWeOfferCalligraphy {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}

.whatWeOfferTextContainer {
  display: grid;
  justify-content: center;
  padding-right: 10vw;
}

.whatWeOfferTextContainer p {
  
}

.calligraphy {
  height: 100px;
}

.aboutPageLeft {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px 10vw;
}

.aboutPageLeft .content {
  
}

.aboutPageRight {
  display: grid;
  justify-items: center;
}

.aboutPageRight img {
  background-color: #852d35;
  width: 700px;
  height: 900px;
  justify-self: end;
}

.commercialRoles{
  margin: 50px 10vw;
  font-size: 30px;
  text-align: center;
}

.commercialRecruitmentCalligraphy {
  grid-column: 1/3;
  display: grid;
  justify-content: end;
  padding-right: 10vw;
  margin-top: 60px;
}

.commercialRecruitmentTextContainer{
  display: grid;
  justify-content: center;
  padding: 10px 10vw;
}

.commercialRecruitmentTextContainer p{
  
}

@media (max-width: 768px) {
  .aboutCarolineContainer {
    grid-template-columns: 1fr;
  }

  .aboutPageRight {
    justify-content: center;
  }

  .whatWeOfferCalligraphy {
    justify-content: start;
  }

  .whatWeOfferTextContainer {
    padding: 0 10vw;
  }

  .whatWeOfferContainer {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .commercialRecruitmentCalligraphy {
    padding: 0;
    margin-left: 10vw;
    justify-self: start;
  }
}