#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.homepageLeft {
  width: 100%;
  display: grid;
  justify-content: center;
}

.infoOverview {
  color: #852d35;
}

.infoOverview img {
  width: 125px;
}

.infoOverview h2 {
  margin-bottom: 0;
}

.infoOverview h3 {
  margin-top: 0;
  font-weight: 500;
}

.infoOverview p {
  margin: 0;
}

.homeGraphic {
  /* overflow: hidden; */
  display: grid;
  justify-content: end;
  width: 100%;
}

.homeGraphic img {
  margin-top: -40px;
  /* margin-right: -300px; */
  /* margin-right: (calc(-20000px +20vw)) ; */
  max-width: 150%;
  /* height: 100%; */
  /* height: calc(100vh - 75.81px - 24px); */
  max-height: 900px;
  opacity: 0.8;
  object-fit: cover;
}

.copyright {
  text-align: end;
  padding-right: 10px;
  color: #852d35;
  margin: 0;
}

.copyright p {
  margin: 0;
}

@media (max-width: 1200px) {
  .homeGraphic img {
    
  }
}

@media (max-width: 768px) {
  .infoOverview {
    display: grid;
    justify-items: center;
    margin-top: 50px;
  }

  .homeGraphic img {
    margin-top: 0px;
    margin-right: 0px;
  }

  .pageContainer {
    grid-template-columns: 1fr;
  }
}